{% extends "todolist/base.html" %}

{% block content %}

	{% if is_user_registered == False %}
		<h1>Duplicate User Found!</h1>
		<p>A duplicate user has been found, user creation unsuccessful</p>
	{% else %}
		<div class="container">
			<form action="{% url 'todolist:add_event' %}" method="post">
				{% csrf_token %}
				<div class="col-md-8 col-md-offset-2">
					<div class="panel panel-default">
						<div class="panel-heading">Create Event</div>
						<div class="panel-body">
							{% if error_message %}
								<p class="bg-danger p-d ml-b">{{ error_message }}</p>
							{% endif %}
							<div class="form-group clearfix">
								<label for="{{ form.username.id_for_label }}" class="col-md-4 control-label text-right">Event Name<span class="text-red"></span>:</label>
								<div class="col-md-6">
									{{ form.event_name }}
								</div>
							</div>
							<div class="form-group clearfix">
								<label for="{{ form.password.id_for_label }}" class="col-md-4 control-label text-right">Description<span class="text-red">*</span>:</label>
								<div class="col-md-6">
									{{ form.description }}
								</div>
							</div>
                            <div class="form-group clearfix">
								<label for="{{ form.date.id_for_label }}" class="col-md-4 control-label text-right">Stretch Date<span class="text-red">*</span>:</label>
								<div class="col-md-6">
									{{ form.date_created }}
								</div>
							</div>
							<div class="col-md-6 col-md-offset-4">
								<input type="submit" value="Add Event" class="btn btn-success">
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	{% endif %}

{% endblock %}