{% extends "todolist/base.html" %}

{%block content%}

	{% if user.is_authenticated == True %}
		<h1>Welcome {{user.first_name}} {{user.last_name}}!</h1>
		<ul>
			<h3>Items</h3>
		{%if todoitem_list.count != 0%}
			{% for todoitem in todoitem_list %}
				<li>
					<a href="{{todoitem.id}}">{{todoitem.task_name}}</a>
				</li>
			{% endfor %}
		{%else%}
			<p>No tasks have been created.</p>
		{% endif %}

		{%if eventitem_list.count != 0%}
			<h3>Events</h3>
			{% for eventitem in eventitem_list %}
				<li>
					<a href="{{eventitem.id}}">{{eventitem.event_name}}</a>
				</li>
			{% endfor %}
		{%else%}
			<p>No event have been created.</p>
		{% endif %}		

			<a class="btn btn-primary" href="add_event">Add Event</a>
		</ul>		
	{% else %}
		<h1>You are not authorized to access this page.</h1>
		<p>Kindly login <a href="login">here</a></p>
	{% endif %}

{% endblock %}