{% extends "todolist/base.html" %}

{% block content %}

	{% if is_user_registered == False %}
		<h1>Duplicate User Found!</h1>
		<p>A duplicate user has been found, user creation unsuccessful</p>
	{% else %}
		<div class="container">
			<form action="{% url 'todolist:register' %}" method="post">
				{% csrf_token %}
				<div class="col-md-8 col-md-offset-2">
					<div class="panel panel-default">
						<div class="panel-heading">Register</div>
						<div class="panel-body">
							{% if error_message %}
								<p class="bg-danger p-d ml-b">{{ error_message }}</p>
							{% endif %}
							<div class="form-group clearfix">
								<label for="{{ form.first_name.id_for_label }}" class="col-md-4 control-label text-right">First Name:</label>
								<div class="col-md-6">
									{{ form.first_name }}
								</div>
							</div>
							<div class="form-group clearfix">
								<label for="{{ form.last_name.id_for_label }}" class="col-md-4 control-label text-right">Last Name:</label>
								<div class="col-md-6">
									{{ form.last_name }}
								</div>
							</div>
							<div class="form-group clearfix">
								<label for="{{ form.username.id_for_label }}" class="col-md-4 control-label text-right">Username<span class="text-red">*</span>:</label>
								<div class="col-md-6">
									{{ form.username }}
								</div>
							</div>
							<div class="form-group clearfix">
								<label for="{{ form.email.id_for_label }}" class="col-md-4 control-label text-right">Email<span class="text-red">*</span>:</label>
								<div class="col-md-6">
									{{ form.email }}
								</div>
							</div>
							<div class="form-group clearfix">
								<label for="{{ form.password.id_for_label }}" class="col-md-4 control-label text-right">Password<span class="text-red">*</span>:</label>
								<div class="col-md-6">
									{{ form.password }}
								</div>
							</div>
							<div class="form-group clearfix">
								<label for="{{ form.password_repeat.id_for_label }}" class="col-md-4 control-label text-right">Confirm password:</label>
								<div class="col-md-6">
									{{ form.password_repeat }}
								</div>
							</div>
							<div class="col-md-6 col-md-offset-4">
								<input type="submit" value="Register" class="btn btn-success">
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	{% endif %}

{% endblock %}